/* Eric Meyer's CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

.content {
  background-color: black;
  vertical-align: top;
}

.content #map {
  min-height: 500px;
  width: 100%;
  height: 70%;
  margin: 10px 10px 10px 0;
}

.my-balloon {
  display: inline-block;
  padding: 4px 10px;
  height: 75px;
  position: relative;
  bottom: 80px;
  left: -10px;
  width: 150px;
  font-size: 11px;
  line-height: 15px;
  color: #333333;
  text-align: left;
  vertical-align: middle;
  background-color: #FFF0F5;
  border: 1px solid #CDB7B5;
  border-radius: 20px;
  font-family: Arial;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font: 12px/18px Arial, sans-serif;
  height: 100%;
  background-color: black;
}

.wrapper {
  width: 99%;
  min-width: 1000px;
  min-height: 99%;
  height: 99%;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/

.sidebar {
  width: 300px;
  min-width: 300px;
  background: black;
  padding: 10px;
  vertical-align: top;
}

.sidebar tr {
  cursor: pointer;
  height: 40px;
  border: 1px dotted black;
}

.sidebar tr td {
  padding: 0 5px;
  width: 300px;
  vertical-align: middle;
}

.sidebar tr:hover {
  background-color: #A9A9A9;
}

a {
  text-decoration: none;
  color: #DCDCDC;
}

#completed,
#uncompleted,
#fest {
  border: 1px solid black;
  margin: 10px;
  color: #DCDCDC;
  font-size: 14px;
}

button,
select {
  width: 100%;
  margin-bottom: 15px;
  border: none;
}

.title,
button {
  background-color: #FFC500;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  color: black;
  padding: 10px;
}

button {
  background-color: #eafa02;
}

strong {
  font-weight: bolder;
  color: white;
}

table {
  background-color: #2B2C39;
  color: #DCDCDC;
  font-size: 14px;
}

#viewContainer {
  color: yellow;
  height: 29%;
  width: 100%;
}

#viewContainer div {
  width: 100%;
  height: 100%;
}

#viewContainer #custom-view-span {
  margin-left: 20px;
}

#viewContainer #custom-view-span strong {
  text-decoration: underline;
}

#viewContainer #custom-view-table {
  width: 100%;
  margin: 10px;
}

#viewContainer #custom-view-table .custom-view-table-number {
  width: 20px;
  text-align: right;
}

#viewContainer #custom-view-table .custom-view-table-alphabet {
  width: 55px;
  text-align: center;
}

#viewContainer #custom-view-table .custom-view-table-distance {
  width: 60px;
  text-align: right;
  padding-right: 10px;
}

#viewContainer #custom-view-table .custom-view-table-duration {
  width: 100px;
  text-align: left;
}

#viewContainer #custom-view-table .custom-view-table-text {
  text-align: left;
  width: 100%;
  color: #FFC500;
  background-color: #2B2C39;
  border: 1px solid #FFC500;
}

#viewData {
  display: none;
  width: 500px;
  padding-top: 10px;
}

#viewData select,
#viewData input,
#viewData textarea {
  color: black;
  border: none;
}

#viewData .input-name {
  height: 25px;
  width: 192px;
  display: inline-block;
}

#viewData .input-date {
  height: 25px;
  width: 150px;
  display: inline-block;
}

#viewData select {
  color: black;
  width: 150px;
  height: 25px;
  display: inline-block;
}

#viewData textarea {
  height: 100px;
  width: 500px;
  margin: -3px 0 5px 0;
}

#viewData .save-route,
#viewData .remove-route {
  display: inline-block;
}

#viewData .save-route {
  width: 200px;
}

#viewData .remove-route {
  float: right;
  width: 100px;
  background-color: red;
  color: white;
  border-radius: 17px;
}


/*# sourceMappingURL=styles.css.map*/