$menu-width: 300px;


/* Left Sidebar
-----------------------------------------------------------------------------*/
.sidebar {
  width: $menu-width;
  min-width: $menu-width;
  background: black;
  padding: 10px;
  vertical-align: top;

  tr{
    cursor: pointer;
    height: 40px;
    border: 1px dotted black;

    td {
      padding: 0 5px;
      width: $menu-width;
      vertical-align:middle;
    }
  }

  tr:hover {
    background-color: #A9A9A9;
  }


}

a {
  text-decoration: none;
  color: #DCDCDC;
}

#completed, #uncompleted, #fest {
  border: 1px solid black;
  margin: 10px;
  color: #DCDCDC;
  font-size: 14px;
}

button, select{
  width: 100%;
  margin-bottom: 15px;
  border: none;
}

.title, button{
  background-color: #FFC500;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  color: black;
  padding: 10px;
}

button{
  background-color: #eafa02;
  font-style: italic;
  text-decoration: underline;
}

strong {
  font-weight: bolder;
  color: white;
}
td{

}
table {
  background-color: #2B2C39;
  color: #DCDCDC;
  font-size: 14px;
}