#viewData{

  display: none;

  width: 500px;

  padding-top: 10px;

  select,
  input,
  textarea{
    color: black;
    border: none;
    //width: 100%;
  }

  .input-name{
    height: 25px;
    width: 196px;
    display: inline-block;
  }

  .input-date{
    height: 25px;
    width: 130px;
    display: inline-block;
  }

  select{
    color: black;
    width: 165px;
    height: 25px;
    //margin: 5px 0;
    display: inline-block;
  }

  textarea{
    height: 100px;
    width: 500px;
    margin: -3px 0 5px 0;
  }

  .save-route,
  .remove-route{
    display: inline-block;
  }

  .save-route{
    width: 200px;
  }

  .remove-route{
    float: right;
    width: 100px;
    background-color: red;
    color: white;
    border-radius: 17px;
  }

}