#viewContainer{
    color: yellow;
    height: 29%;

    div{
      width: 100%;
      height: 100%;
    }


  width: 100%;

  #custom-view-span{
    margin-left: 20px;

    strong{
      text-decoration: underline;
    }
  }

  #custom-view-table{
    width: 100%;
    margin: 10px;

    .custom-view-table-number{
      width: 20px;
      text-align: right;
    }

    .custom-view-table-alphabet{
      width: 55px;
      text-align: center;
    }

    .custom-view-table-distance{
      width: 60px;
      text-align: right;
      padding-right: 10px;
    }

    .custom-view-table-duration{
      width: 100px;
      text-align: left;
    }

    .custom-view-table-text{
      text-align: left;
      width: 100%;
      color: #FFC500;
      background-color: #2B2C39;
      border: 1px solid #FFC500;
    }

  }
}